.main {
  width: 300px;
  margin: 50px auto 0;
}

.result {
  font-size: 2rem;
  padding: 10px;
}
.result.green {
  background-color: #5a5;
}
.result.red {
  background-color: #a55;
}

.custom-btn {
  position: relative;
  padding: 10px 30px;
  border: 2px solid #5a5;
  color: #5a5;
  margin: 10px;
  display: inline-block;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
  z-index: 1;
}

.custom-btn:hover {
  color: #111;
}

.after-animation-delay-class-3000::after {
  animation-delay: 3s;
}
.after-animation-delay-class-2200::after {
  animation-delay: 2.2s;
}
/* 
.custom-btn span {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #5a5;
  transition: width 0.5s, height 0.5s;
  z-index: -1;
}

.custom-btn:hover span {
  width: 100px;
  height: 100px;
} */
/* 
.btn_yt {
  position: relative;
  display: inline-flex;
  padding: 10px 30px;
  background: #363636;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  overflow: hidden;
  z-index: 10;
}

.btn_yt::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #2196f3;
  transition: width 0.5s, height 0.5s;
  z-index: -1;
}

.btn_yt:hover::before {
  width: 300px;
  height: 300px;
} */

.btn_yt::before {
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  transition: width 0.6s, height 0.6s;
}

.ball {
  animation: bouncingBall 1s infinite;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

/* .btn-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.btn-container .secondary-btn {
  display: flex;
  flex-direction: column;
  position: relative;
  /* width: 150px; */
  padding-inline: 2.5rem;
  /* margin-bottom: -80px !important; */
  height: 55px;
  text-align: center;
  line-height: 55px;
  margin: 10px;
  text-transform: uppercase;
  background: #191919;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 2px;
  overflow: hidden;
}

.btn-container .secondary-btn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  transition: 0s ease-in;
}

.btn-container .secondary-btn:hover span {
  transition: 0.5s ease-in;
  transform: translateY(-100%);
}

.btn-container .secondary-btn::before {
  content: "";
  position: absolute;
  bottom: -250px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 250px;
  background: #2299ff;
  border-radius: 50%;
  transition: 0.5s ease-in;
}

.btn-container .secondary-btn:hover::before {
  bottom: -150px;
}

.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
}
/* .after\:bg-default-foreground::after {
  background-color: red !important;
  color: #fff !important;
} */

/* .sticky-nav {
  position: -webkit-sticky !important; 
  position: sticky !important;
  top: 0;
} */

/* @keyframes bouncingBall {
  10% {
    height: 50px;
    width: 50px;
  }
  30% {
    height: 50px;
    width: 45px;
  }
  50% {
    height: 50px;
    width: 40px;
    transform: translateY(-240px);
  }
  75% {
    height: 50px;
    width: 40px;
  }
  100% {
    height: 40px;
    width: 55px;
    transform: translateY(0px);
  }
}
 */

@keyframes bouncingBall {
  5% {
    height: 50px;
    width: 50px;
  }
  15% {
    height: 50px;
    width: 45px;
  }
  25% {
    height: 50px;
    width: 40px;
    transform: translateY(-240px);
  }
  40% {
    height: 50px;
    width: 40px;
  }
  50% {
    height: 40px;
    width: 55px;
    transform: translateY(0px);
  }

  55% {
    height: 50px;
    width: 50px;
  }
  65% {
    height: 50px;
    width: 45px;
  }
  75% {
    height: 50px;
    width: 40px;
    transform: translateY(-140px);
  }
  90% {
    height: 50px;
    width: 40px;
  }
  100% {
    /* height: px;
    width: 55px; */
    transform: translateY(0px);
  }
}
