.main {
  width: 300px;
  margin: 50px auto 0;
  /* background: gray; */
}
.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.square {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  font-size: 4rem;
  text-align: center;
}
.result {
  font-size: 2rem;
  padding: 10px;
}
.result.green {
  background-color: #5a5;
}
.result.red {
  background-color: #a55;
}
